<%= form_with(model: [@form, @response], local: true) do |form| %>
  <%= form.label :sent_by %>
  <%= form.text_field :sent_by %>

  <% @form.questions.each do |question| %>
    <div>
      <h4><%= question.title %></h4>
      <% question.options.each do |option| %>
        <div>
          <%= label_tag "response[answers][#{question.id}][]", option.title %>
          <%= check_box_tag "response[answers][#{question.id}][]", option.id %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= form.submit %>
<% end %>