<%= form_with(model: [@form, @response], local: true) do |form| %>
  <%= form.label :sent_by %>
  <%= form.text_field :sent_by %>

  <% @form.questions.each do |question| %>
    <div>
      <h4><%= question.title %></h4>
      <%= render_question_options(question) %>
    </div>
  <% end %>

  <%= form.submit 'Submit Response' %>
<% end %>
