<h1><%= g_form.title %></h1>
<p><%= g_form.description %></p>

<%= link_to 'Share Form', new_g_form_response_path(g_form) %>

<h2>Responses</h2>
<table>
  <thead>
    <tr>
      <th>Respondent</th>
      <% g_form.questions.each do |question| %>
        <th>Question : <%= question.title %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% g_form.responses.each do |response| %>
      <tr>
        <td><%= response.sent_by %></td>
        <% response.answers.each do |question_id, answer| %>
          <td><%= display_answer(question_id, answer) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
